<div class="container">
    <div class="cadastro">
        <h3>Cadastrar novo residente</h3>
        <form [formGroup]="CadastroForm">
            <mat-list-item class="full">
                <div mat-line>
                    <mat-form-field appearance="" class="block wdt semifull campocadastro">
                        <mat-label>Nome Completo</mat-label>
                        <input matInput type="text" name="nome" formControlName="nomeCompleto"  minlength="5" maxlength="50" required>
                    </mat-form-field>
                </div>
                <div mat-line class="full">
                    <mat-form-field class="block wdt semifull campocadastro">
                        <mat-label>Bloco   (A-Z)</mat-label>
                        <input matInput type="text" name="bloco" formControlName="bloco" pattern="^[a-zA-Z]" required>
                    </mat-form-field>
                </div>
                <div mat-line>
                    <mat-form-field class="block wdt semifull campocadastro">
                        <mat-label>Casa</mat-label>
                        <input matInput type="number" name="number" formControlName="casa" pattern="^[1-9]{1,3}" required>
                    </mat-form-field>
                </div>
                <div mat-line class="wdt center semifull botao">
                    <button mat-raised-button color="warn" [disabled]="!CadastroForm.valid" (click)="onSubmitCadastro()">Cadastrar</button>
                </div>
            </mat-list-item>    
        </form>
    </div>
</div>