<h2 style="margin-left: 30px;margin-bottom: 30px;">Últimas notícias</h2>

<mat-accordion>
  <mat-expansion-panel  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>SOBRE SERVIÇOS</h4>
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut faucibus pulvinar elementum integer enim neque. Elementum eu facilisis sed odio morbi quis. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Nisi scelerisque eu ultrices vitae auctor</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>SOBRE RESIDENTES</h4>
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut faucibus pulvinar elementum integer enim neque. Elementum eu facilisis sed odio morbi quis. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Nisi scelerisque eu ultrices vitae auctor eu augue. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Quam pellentesque nec nam aliquam sem et tortor. Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit. Viverra vitae congue eu consequat ac felis donec. Venenatis cras sed felis eget velit. Dui nunc mattis enim ut. Vulputate enim nulla aliqu</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>SOBRE ENTREGAS</h4>
      </mat-panel-title>      
    </mat-expansion-panel-header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut faucibus pulvinar elementum integer enim neque. Elementum eu facilisis sed odio morbi quis. Nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum. Nisi scelerisque eu ultrices vitae auctor eu augue. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra. Quam pellentesque nec nam aliquam sem et tortor. Euismod quis viverra nibh cras pulvinar mattis nunc sed blandit. Viverra vitae congue eu consequat ac felis donec. Venenatis cras sed felis eget velit. Dui nunc mattis enim ut. Vulputate enim nulla aliqu</p>
  </mat-expansion-panel>
</mat-accordion>
