.cadastro{
    margin-top: 40px;
    width: 100%;
}
.cadastroForm{
    width: 100%;
}
.campocadastro{
    width: 10%;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.campocadastro2{
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.campocadastro3{
    width: 40%;
    margin-left: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.botaocadastrar{
    margin-left: 20px;
    margin-top: 10px;
}

.botaoAdicionar{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
}
.botaoFechar{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    font-weight: bold;
}
.tabelaHistorico{
    margin-top: 50px;
}