<div>
    <div class="row mt-1" *ngIf="erro">
        <div class="col">
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Exemplo de alerta</strong> o botão de fechar funciona.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
<!--INICIO ENTRADA-->
    <mat-list style="width: 100%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div mat-subheader>ENTRADA</div>
                    <form [formGroup]="EntrarForm">
                            <mat-list-item class="full">
                                <div mat-line class="full">
                                    <mat-form-field appearance="" class="block wdt semifull">
                                        <mat-label>Tipo</mat-label>
                                        <mat-select class="mat-select full" [(value)]="selectedTipoEntrada" formControlName="viewValueEntrada" required>
                                            <mat-option [value]="tipoEntrada.viewValue" *ngFor="let tipoEntrada of tiposEntrada">{{tipoEntrada.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="full">
                                    <mat-form-field appearance="" class="block wdt semifull">
                                        <mat-label>Nome Completo</mat-label>
                                        <input matInput type="text" name="nome" formControlName="nomeCompleto" minlength="4" maxlength="50" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="full">
                                    <mat-form-field class="block wdt semifull">
                                        <mat-label>Bloco   (A-Z)</mat-label>
                                        <input matInput type="text" name="bloco" formControlName="bloco" pattern="^[a-zA-Z]" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="full">
                                    <mat-form-field class="block wdt semifull">
                                        <mat-label>Casa</mat-label>
                                        <input matInput type="number" name="number" formControlName="casa" pattern="^[1-9][0-9]{0,1}" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="wdt center semifull">
                                    <button mat-raised-button color="accent" [disabled]="!EntrarForm.valid" (click)="onSubmitEntrada()">ENTRAR</button><!--Implementar submit-->
                                </div>
                            </mat-list-item>    
                    </form>    
                </div>
                    <!--Arrastar CARD ENTRADA E SAIDA-->
                <div class="col-sm-6">
                    <div class="container">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Últimas Entradas</th>
                              </tr>
                            </thead>
                            <tbody>                                  
                              <tr *ngFor="let entrada of entradas">
                                 <td>{{entrada}}</td>
                              </tr>
                            </tbody>
                        </table>    
                        <div *ngIf="!entradas?.length">
                            <p>Nenhuma entrada relatada</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </mat-list>
    <!--FIM ENTRADA-->
    <mat-divider></mat-divider>
    <!--INICIO SAIDA-->
    <mat-list style="width: 100%;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div mat-subheader>SAÍDA</div>
                        <form [formGroup]="SaidaForm">
                            <mat-list-item class="full">
                                <div mat-line class="full">
                                    <mat-form-field appearance="" class="block wdt semifull">
                                        <mat-label>Tipo</mat-label>
                                        <mat-select class="mat-select full" [(value)]="selectedTipoSaida" formControlName="viewValueSaida" required>
                                            <mat-option [value]="tipoSaida.viewValue" *ngFor="let tipoSaida of tiposSaida">
                                                {{tipoSaida.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div mat-line>
                                    <mat-form-field appearance="" class="block wdt semifull">
                                        <mat-label>Nome Completo</mat-label>
                                        <input matInput type="text" name="nome" formControlName="nomeCompleto"  minlength="4" maxlength="50" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="full">
                                    <mat-form-field class="block wdt semifull">
                                        <mat-label>Bloco   (A-Z)</mat-label>
                                        <input matInput type="text" name="bloco" formControlName="bloco" pattern="^[a-zA-Z]" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line>
                                    <mat-form-field class="block wdt semifull">
                                        <mat-label>Casa</mat-label>
                                        <input matInput type="number" name="number" formControlName="casa" pattern="^[1-9][0-9]{0,1}" required>
                                    </mat-form-field>
                                </div>
                                <div mat-line class="wdt center semifull">
                                    <button mat-raised-button color="warn" [disabled]="!SaidaForm.valid" (click)="onSubmitSaida()">SAÍDA</button><!--Implementar submit-->
                                </div>
                            </mat-list-item>    
                        </form>
                </div>
                <div class="col-sm-6">
                    <div class="container">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Últimas Saídas</th>
                              </tr>
                            </thead>
                            <tbody>                                  
                              <tr *ngFor="let saida of saidas">
                                 <td>{{saida}}</td>
                              </tr>
                            </tbody>
                        </table> 
                        <div *ngIf="!saidas?.length">
                            <p>Nenhuma saída relatada</p>
                        </div>   
                    </div>
                </div>
            </div>
        </div>    
    </mat-list>  
 <!--FIM SAIDA-->
</div>