
    <mat-list style="width: 100%;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div mat-subheader>
              ENTRADA
            </div> 
              <form [formGroup]="EntrarForm">
                  <mat-list-item class="full">
                    <div mat-line class="full">
                      <mat-form-field appearance="" class="block wdt semifull" type="number">
                        <mat-label>
                          Tipo
                        </mat-label>
                        <mat-select class="mat-select full" [(value)]="selectedTipoEntrada" formControlName="tipo" required>
                          <mat-option [value]="tipoEntrada.viewValue" *ngFor="let tipoEntrada of tiposEntrada">
                            {{ tipoEntrada.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div mat-line class="full">
                      <mat-form-field appearance="" class="block wdt semifull">
                        <mat-label>
                          Nome Completo
                        </mat-label>
                          <input matInput type="text" name="nome" id="nome"  [(ngModel)]="voiceService.text" formControlName="nome" minlength="5" maxlength="50" required/>
                          <button [ngStyle]="voiceService.estilo" style="border: none;background-color: #fafafa;"><mat-icon  (click)="startService()">mic</mat-icon></button>
                      </mat-form-field>
                    </div>
                    <div mat-line class="full">
                      <mat-form-field class="block wdt semifull">
                        <mat-label>
                          Bloco (A-Z)
                        </mat-label>
                          <input matInput type="text" name="bloco" formControlName="bloco" pattern="^[a-zA-Z]" required/>
                      </mat-form-field>
                    </div>
                    <div mat-line class="full">
                      <mat-form-field class="block wdt semifull">
                        <mat-label>
                          Casa
                        </mat-label>
                          <input matInput type="number" name="number" formControlName="num" pattern="^[1-9][0-9]?[0-9]?" required/>
                      </mat-form-field>
                    </div>
                    <div mat-line class="wdt center semifull">
                      <button mat-raised-button color="accent" [disabled]="!EntrarForm.valid" (click)="onSubmitEntrada()">
                        ENTRAR
                      </button>
                    </div>
                  </mat-list-item>
              </form>
          </div>
          <div class="col-sm-6">
            <div mat-subheader style="margin-bottom: 0;">
              Últimas Entradas
            </div>
            <div class="container scroll-card" style="margin-top: 0;">
              <table class="table table-striped">
                <tbody>
                  <tr *ngFor="let entrada of ultimaEntrada">
                    <td>{{ entrada }}</td>
                  </tr>
                </tbody>
              </table>
              <div *ngIf="!entradas?.length">
                <p>Nenhuma entrada relatada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-list>
 
