.cadastro{
    text-align: center;
    margin: 10%;
    width: 80%;
}
.campocadastro{
    width:100%;
}
.botao{
    margin-top: 10px;
}
.spinner{
    width:28px;
    height:100%;
    margin-left: 5px;
    margin-bottom: 2px;
  }
.vazio{
    margin: 20px;
}
h4{
  margin:20px;
}